node_modules
dist
cdk.out
.DS_Store
.env*
.storage
coverage
test-report.xml
.idea
*.iml
amodx.*.json

*.js
*.d.ts
!jest.config.js
cdk.out/

# Build artifacts
.open-next/
.next/
out/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
